<!DOCTYPE html>
<html ng-app="Buckets">
    <head>
        <title>Add Tasks!</title>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.js"></script>
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <script src="/js/module.buckets.js"></script>
        <script src="/js/controller.home.js"></script>
        <script src="/js/factory.buckets.js"></script>
        
    </head>
    <body ng-controller="homeController as home">
		<a href="/logout">Logout</a>
<div>
	<h2 class="center">Next we're going to add tasks to your "Bucket List" items.</h2>
</div>
<div>
	<h3 class="headButton center"> Select the "Bucket List" item from the dropdown below and enter a task in the task textbox.</h3>


<select value="home.selectedName._id" ng-model="home.selectedName" ng-options="x.bucketname for x in home.bucketList" ng-change="home.test()">
</select>
<br>
<br>

<div class="center">
	Enter your task: <input type="text" id="task" value="" ng-model="home.Task.taskname" placeholder="Enter a Task Here">
	<button type="submit" ng-click="home.addTask()">Submit</button>
</div>

<section>
	<div class="container-fluid">
		<div><br>
			<div class="tasklist well well-sm" ng-repeat="tasks in home.taskList">
				<div>
					<ul>
						<ul>
							<h2> {{tasks.taskname}} </h2>
						</ul>
						<ul>
							<!--<li class=" tasks " ng-repeat="item in bucket.task "> {{ item }}</li>-->
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
      </body>
</html>