<!DOCTYPE html>
<html ng-app="Buckets">
    <head>
        <title>Add Dates!</title>
        
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.js"></script>
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <script src="/js/module.buckets.js"></script>
        <script src="/js/controller.home.js"></script>
        <script src="/js/factory.buckets.js"></script>
        
    </head>
    <body ng-controller="homeController as home" data-ng-init="home.getAllTask()">
		<a href="/logout">Logout</a>
<section>
<div>
  <h2 class="center">Below is your bucket list!</h2>
</div>
<div>
  <h3 class="headButton center"> You can use it to work toward accomplishisng your goals...or as digital toilet paper when the apocalypse comes...</h3>
</div>


</section>




<section  class="backgroundbucketlist">
    <div class="container-fluid">
      <div><br>
          <div ng-repeat="buckets in home.bucketList ">
              <div>
                  <ul>
                      <ul><h2 class="bucketprint"> {{buckets._id}}  {{buckets.bucketname}}, Due {{ buckets.bucketdate }}, Status <a href="#" editable-checkbox="buckets.bucketcomp" e-title="Complete">
      {{ buckets.bucketcomp && "Complete" || "Incomplete!" }}
  </a></h2></ul>
                          <ul>
                            <li class="taskprint" ng-repeat="tasks in home.taskList  | filter:buckets._id "><h3> {{tasks.bucketid}}  {{tasks.taskname}}, Status <a href="#" editable-checkbox="tasks.taskcomp" e-title="Complete">
      {{ tasks.taskcomp && "Complete" || "Incomplete!" }}</h3></li>
                          </ul>
                        </ul>
                  </div>
          </div>
      </div>
  </div>
</section>
      </body>
</html>