<!DOCTYPE html>
<html ng-app="Buckets">
    <head>
        <title>Sort Your Bucketlist!</title>
        
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.js"></script>
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.5.0/css/xeditable.css">
        <link rel="stylesheet" href="../css/cover.css">
        <link rel="stylesheet" type="text/css" href="dist/ng-sortable.min.css">
        <link rel="stylesheet" type="text/css" href="dist/ng-sortable.style.min.css">
        <script src="/js/module.buckets.js"></script>
        <script src="/js/controller.home.js"></script>
        <script src="/js/factory.buckets.js"></script>
        
    </head>
    <body ng-controller="homeController as home" data-ng-init="home.getAllTask()">
      			<br>
			<br>
		<a class="btn btn-default" role="button" data-toggle="collapse" href="#Menu" aria-expanded="false" aria-controls="collapseExample">Menu</a>

<div class="collapse" id="Menu">
    <br>
  <div class="well">
    <a class="menu" href="/logout">Logout</a>
    <a class="menu" href="/html/index.html">Add More Bucket List Items!</a>
    <a class="menu" href="/html/datebuckets.html">Edit Bucket List Dates!</a>
    <a class="menu" href="/html/addtasks.html">Add More Bucket List Tasks!</a>
    <a class="menu" href="/html/bucketlist.html">View Your Bucket List!</a>
  </div>
</div>
<br>
<br>
<br>
<br>
<section>
<div>
  <h2 class="center">Below is your bucket list!</h2>
</div>
<div>
  <h3 class="headButton center"> You can prioritize it on this page...</h3>
</div>


</section>




<section>
    <div class="container-fluid">
      <div><br>
          <div>
              <div class="center" id="list4">
                  <ul ng-model="home.bucketlist" class="center">
                    <li class='center' ng-repeat="buckets in home.bucketList "><h2>{{buckets.bucketname}}  Priority: <a onaftersave="home.groupBucket(buckets._id, buckets.topgroup)" href="#" editable-checkbox="buckets.topgroup" e-title="Priority!">{{ buckets.topgroup && "Priority!" || "Not a Priority!" }}</a></h2>
                        </l1>
                  </ul>

                </div>
          </div>
      </div>
  </div>
</section>
        <br>
        <br>
        <br>
        <br>
<h4>Next we'll add dates to your Bucket List items</h4>
<form action="/datebuckets" method="GET">
        <Button class="btn btn-default">Click to add dates</Button>
  </form>
      </body>
</html>