<!DOCTYPE html>
<html ng-app="Buckets">
    <head>
        <title>Register!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="/js/module.buckets.js"></script>
        <script src="/js/controller.home.js"></script>
        <script src="/js/factory.buckets.js"></script>
        
    </head>
    <body ng-controller="homeController as home">
            <h1>{{home.greeting}}</h1>

            <form ng-submit="home.createUser()">
                <input class="form-control" ng-model="home.newUser.username" placeholder="Create a User Name">

                <input class="form-control" ng-model="home.newUser.email" placeholder="Enter Email">

                <input class="form-control" ng-model="home.newUser.firstname" placeholder="Enter First Name" ng-list>

                <input class="form-control" ng-model="home.newUser.lastname" placeholder="Enter Last Name" ng-list>

                <input class="form-control" ng-model="home.newUser.birthdate" placeholder="Enter Birth Date in mm-dd-yyyy format" ng-list>

                <Select ng-model="home.newUser.sex">
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                </Select>

                <input class="form-control" ng-model="home.newUser.password" placeholder="Create Password" ng-list>

                <input type="submit">
            </form>

        <!--<ul>
            <li ng-repeat="bucket in home.bucketList">
                <!--{{bucket.name}}-->
            <!--</li>

        </ul>-->

        <!--{{home.bucket.name}}-->

    </body>
</html>