<!DOCTYPE html>
<html ng-app="Buckets">
    <head>
        <title>The Bucket List!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="/js/module.buckets.js"></script>
        <script src="/js/controller.home.js"></script>
        <script src="/js/factory.buckets.js"></script>
        
    </head>
    <body ng-controller="homeController as home">
            <h1>{{home.greeting}}</h1>

            <!--<form ng-submit="home.addBucket()">
                <input class="form-control" ng-model="home.BucketItem.buckets" placeholder="Bucket List Item">

                <input type="submit">
            </form>-->

        <!--<ul>
            <li ng-repeat="buckets in home.bucketList">
                {{buckets.bucket}}
            </li>

        </ul>-->
<div class="container-fluid">
    <div class="prioritize well well-sm"><br>
        <div ng-repeat="buckets in home.bucketList">
            <div>
                <h2 class="center" ng-click="home.Prioritize($index)"> {{ buckets.bucket}} </h2>
            </div>
        </div>
    </div>
</div>
    </body>
</html>