<section>
    <div>
        <img href="http://images1.privateschoolreview.com/article/462x462/0/347/Whats-On-Your-Bucket-List-MTdu8l.jpg">

        <h1 class="center">
            Welcome to the Life Planner "Bucket List" App!
        </h1>
        <h2 class="center">
            This Applicaton will help you brainstorm ideas for what you want to get accomplished in your life!
        </h2>
        <h3>
            <ol>
                <li>First You Will Brainstorm for 5 minutes to add items to your bucket list!</li>
                <li>Next you will prioritize your bucket list based on which Bucket List items are most improtant</li>
                <li>Step three will be to add conpletion dates to your Bucket List Items</li>
                <li>The final step will be to add tasks to each item to give you a firm handle on what it will take to reach your goals!</li>
            </ol>
        </h3>




    </div>
</section>